In [14]:
import pandas as pd

# Load dataset
data = pd.read_csv(r"C:\Users\Roshan\Downloads\housing.csv")
print(data.head())
print(data.info())
print(data.describe())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [29]:
# Pick a random row
sample = data.sample(1, random_state=42)

print("Sample row:\n", sample)

Sample row:
        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
20046    -119.01     36.06                25.0       1505.0           435.0

       population  households  median_income  median_house_value  \
20046      1392.0       359.0         1.6812             47700.0

       ocean_proximity_INLAND  ocean_proximity_ISLAND  \
20046                    True                   False

       ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
20046                     False                       False

In [15]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [18]:
# Fill missing numeric values with median
data['total_bedrooms'] = data['total_bedrooms'].fillna(data['total_bedrooms'].median())

In [20]:
data = pd.get_dummies(data, drop_first=True)

In [21]:
X = data.drop('median_house_value', axis=1)  # features
y = data['median_house_value']               # target

In [27]:
data.isnull().sum()

longitude                     0
latitude                      0
housing_median_age            0
total_rooms                   0
total_bedrooms                0
population                    0
households                    0
median_income                 0
median_house_value            0
ocean_proximity_INLAND        0
ocean_proximity_ISLAND        0
ocean_proximity_NEAR BAY      0
ocean_proximity_NEAR OCEAN    0
dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict and evaluate
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print("MAE:", mae)
print("RMSE:", rmse)
print("R2 Score:", r2)

MAE: 31639.373406007748
RMSE: 49038.20933848149
R2 Score: 0.8164888965922015

In [24]:
import joblib
joblib.dump(model, "house_price_model.pkl")

['house_price_model.pkl']

In [ ]:
# Example input (random values for testing)
test_input = np.array([[-122.23, 37.88, 41.0, 880.0, 129.0, 322.0, 126.0, 8.3252]])

In [ ]:
prediction = model.predict(test_input)
print("Predicted House Price:", prediction[0])

In [31]:
import pandas as pd

# Your sample row
sample_data = {
    "longitude": [-119.01],
    "latitude": [36.06],
    "housing_median_age": [25.0],
    "total_rooms": [1505.0],
    "total_bedrooms": [435.0],
    "population": [1392.0],
    "households": [359.0],
    "median_income": [1.6812],
    # one-hot encoded categorical features
    "ocean_proximity_INLAND": [True],
    "ocean_proximity_ISLAND": [False],
    "ocean_proximity_NEAR BAY": [False],
    "ocean_proximity_NEAR OCEAN": [False]
}

# Convert into DataFrame
X_test = pd.DataFrame(sample_data)

# Predict
prediction = model.predict(X_test)

# Compare with original
print(" Predicted Price:", prediction[0])
print(" Original Price: 47700.0")

 Predicted Price: 51521.0
 Original Price: 47700.0

In [33]:
# Extract features (drop target column)
X_sample = sample.drop("median_house_value", axis=1)

# Convert to numpy for prediction
test_input = X_sample.values

In [34]:
# Predict using trained model
predicted_value = model.predict(test_input)

print("üîÆ Predicted House Price:", predicted_value[0])
print("üè† Original (Actual) House Price:", sample["median_house_value"].values[0])

üîÆ Predicted House Price: 51521.0
üè† Original (Actual) House Price: 47700.0

C:\Users\Roshan\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(